/* ====================== [ Custom Mobile-app Styles  ] ====================== */
body.nft-market {
  background-color: #05092b;
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  position: relative;
}

body.nft-market:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../nft/img/dots.svg);
  background-repeat: repeat;
  background-size: 300px;
  opacity: .2;
  pointer-events: none;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  color: #c4c6c7;
  font-size: 16px;
  font-weight: 300 !important;
}

.sec-head-bord {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sec-head-bord h4 {
  font-weight: 700;
}

.sec-head-bord h4 .icon {
  font-size: 20px;
  margin-right: 10px;
}

.rad-head {
  display: inline-block;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(162, 175, 200, 0.16);
}

.rad-head i {
  margin-right: 10px;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.sub-head {
  background: rgba(255, 255, 255, 0.02);
}

.sub-bg {
  background-color: rgba(255, 255, 255, 0.02);
}

.nav-scroll {
  background: rgba(5, 9, 43, 0.84);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-scroll .navbar-nav .nav-link {
  color: #fff !important;
}

/* ------------ header ------------ */
header {
  position: relative;
  padding-bottom: 0 !important;
}

header:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background: #7e2dec;
  opacity: .8;
  -webkit-filter: blur(300px);
  filter: blur(300px);
  pointer-events: none;
}

header:before {
  content: '';
  position: absolute;
  top: -100px;
  left: -100px;
  width: 300px;
  height: 300px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background: #e012bf;
  opacity: .8;
  -webkit-filter: blur(200px);
  filter: blur(200px);
  pointer-events: none;
}

header .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: .2;
}

header .cont h1 {
  font-weight: 800;
  line-height: 1.4;
}

header .cont .btn-vid {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
  line-height: 50px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
  -o-transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
  transition-timing-function: cubic-bezier(0.4, 0.08, 0, 0.97);
  color: #fff;
  display: inline-block;
  font-size: 14px;
  position: relative;
}

header .cont .btn-vid:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
}

header .main-marq {
  position: relative;
  padding: 0;
}

header .main-marq:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(bottom, #05092b, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), #05092b);
  background: -o-linear-gradient(bottom, #05092b, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), #05092b);
  background: linear-gradient(to top, #05092b, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), #05092b);
  pointer-events: none;
}

header .star1 {
  position: absolute;
  top: 25%;
  left: 15%;
  width: 30px;
}

header .star2 {
  position: absolute;
  top: 40%;
  right: 30px;
  width: 30px;
}

header .star3 {
  position: absolute;
  bottom: 15%;
  left: 40%;
  width: 30px;
}

header .star4 {
  position: absolute;
  top: 35%;
  left: 45%;
  width: 35px;
  height: 90px;
  border-radius: 30px;
  border: 1px solid #eee;
  opacity: .3;
}

.slide-vertical {
  overflow: hidden;
  width: 30%;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.slide-vertical.st2 {
  width: 40%;
}

.slide-vertical.st2 .img {
  display: block;
  width: 100%;
  height: 400px;
  border-radius: 100px;
}

.slide-vertical:hover .box {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.slide-vertical .box {
  position: relative;
  -webkit-animation: slide-vertical 50s linear infinite;
  animation: slide-vertical 50s linear infinite;
}

.slide-vertical .img {
  display: block;
  width: 100%;
  height: 300px;
  margin: 15px 0;
  border-radius: 50px;
  overflow: hidden;
}

.slide-vertical .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

@-webkit-keyframes slide-vertical {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes slide-vertical {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

/* ------------ feat-card ------------ */
.feat-card .item-card {
  border-radius: 15px;
  background: #272a37;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(162, 175, 200, 0.16);
}

.feat-card .item-card .img {
  padding: 10px 10px 0;
  height: 220px;
  position: relative;
}

.feat-card .item-card .img a {
  width: 100%;
  height: 100%;
}

.feat-card .item-card .img img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.feat-card .item-card .img .fav {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 7px 10px 4px;
  border-radius: 5px;
  background: rgba(39, 42, 55, 0.84);
  font-size: 12px;
}

.feat-card .item-card .img .fav .icon {
  font-size: 16px;
}

.feat-card .item-card .img .fav .fcont {
  line-height: 1;
  position: relative;
  top: -3px;
  margin-left: 5px;
}

.feat-card .item-card .img .clockdiv {
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(162, 175, 200, 0.16);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.feat-card .item-card .img .clockdiv div {
  margin: 0 10px;
  width: 100%;
  position: relative;
}

.feat-card .item-card .img .clockdiv div:after {
  content: ':';
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.feat-card .item-card .img .clockdiv div:last-of-type:after {
  display: none;
}

.feat-card .item-card .cont {
  position: relative;
}

.feat-card .item-card .cont .info {
  padding: 40px 20px 0;
}

.feat-card .item-card .cont .authors-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feat-card .item-card .cont .authors-img div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
}

.feat-card .item-card .cont .authors-img div:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 50%;
  border: 3px solid #3a3e5f;
}

.feat-card .item-card .cont .authors-img div.img2 {
  left: -10px;
}

.feat-card .item-card .cont .authors-img div.img3 {
  left: -20px;
}

.feat-card .item-card .cont .authors-img div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.feat-card .item-card .cont .item-history a {
  text-decoration: underline;
}

.feat-card .item-card .cont .eth .icon {
  width: 10px;
  margin-right: 5px;
}

.feat-card .item-card .botm {
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(162, 175, 200, 0.16);
}

.feat-card .item-card .botm .bid a {
  font-size: 13px;
  padding: 7px 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.feat-card .item-card .botm .bid a:hover {
  background: #fff;
  color: #05092b;
}

/* ------------ collection ------------ */
.collection-box .coll-item {
  padding: 15px 10px;
  border-radius: 15px;
  background: #272a37;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(162, 175, 200, 0.16);
}

.collection-box .coll-item .imgs .flex .img {
  height: 120px;
  width: 50%;
}

.collection-box .coll-item .imgs .img {
  height: 150px;
  margin: 0 5px;
  border-radius: 10px;
  overflow: hidden;
}

.collection-box .coll-item .imgs img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.collection-box .coll-item .cont .se-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  margin: -35px auto 0;
}

.collection-box .coll-item .cont .se-img:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 50%;
  border: 4px solid #3a3e5f;
}

.collection-box .coll-item .cont .se-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.collection-box .coll-item .cont .se-img .icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background: #7e2dec;
  font-size: 10px;
  z-index: 2;
}

.collection-box .coll-item .cont .text {
  padding: 15px 20px;
}

.collection-box .coll-item .cont .text h6 {
  font-size: 17px;
  font-weight: 700;
}

.collection-box .coll-item .cont .text p {
  font-size: 13px;
}

.collection-box .coll-item .cont .text p a {
  color: #fff;
  font-weight: 500;
}

.collection-box .coll-item .cont .text .item-calc span {
  padding: 7px 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

/* ------------ explore ------------ */
.explore {
  position: relative;
}

.explore:after {
  content: '';
  position: absolute;
  top: -100px;
  right: -100px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #9121ce;
  opacity: .8;
  -webkit-filter: blur(200px);
  filter: blur(200px);
  pointer-events: none;
}

.explore:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background: #7e2dec;
  opacity: .5;
  -webkit-filter: blur(200px);
  filter: blur(200px);
  pointer-events: none;
}

.explore .tab-links .item-link span {
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.02);
  border-radius: 30px;
  margin-right: 10px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  cursor: pointer;
}

.explore .tab-links .item-link span i {
  margin-right: 10px;
}

.explore .tab-links .item-link span:hover {
  background: #fff;
  color: #05092b;
}

.explore .tab-links .item-link.current span {
  background: #fff;
  color: #05092b;
}

.explore .tab-content {
  display: none;
}

.explore .tab-content.current {
  display: block;
}

/* ------------ blck-nft ------------ */
.blck-nft .imgs {
  position: relative;
  -webkit-perspective: 2000;
  perspective: 2000;
}

.blck-nft .img1,
.blck-nft .img2 {
  width: 300px;
  height: 380px;
  position: relative;
  -webkit-transform: rotateY(29deg) rotateZ(348deg);
  transform: rotateY(29deg) rotateZ(348deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.blck-nft .img1 .bord,
.blck-nft .img2 .bord {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a82db), color-stop(#9121ce), color-stop(#e012bf), color-stop(transparent), to(transparent));
  background: -webkit-linear-gradient(top, #3a82db, #9121ce, #e012bf, transparent, transparent);
  background: -o-linear-gradient(top, #3a82db, #9121ce, #e012bf, transparent, transparent);
  background: linear-gradient(180deg, #3a82db, #9121ce, #e012bf, transparent, transparent);
}

.blck-nft .img1 img,
.blck-nft .img2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
}

.blck-nft .img2 {
  width: 280px;
  height: 350px;
  -webkit-transform: rotateX(28deg) rotateZ(10deg);
  transform: rotateX(28deg) rotateZ(10deg);
}

.blck-nft .img2 .bord {
  background: -webkit-gradient(linear, left bottom, left top, from(#3a82db), color-stop(#9121ce), color-stop(#e012bf), color-stop(transparent), to(transparent));
  background: -webkit-linear-gradient(bottom, #3a82db, #9121ce, #e012bf, transparent, transparent);
  background: -o-linear-gradient(bottom, #3a82db, #9121ce, #e012bf, transparent, transparent);
  background: linear-gradient(0deg, #3a82db, #9121ce, #e012bf, transparent, transparent);
}

.blck-nft .box-text {
  position: absolute;
  bottom: -50px;
  left: 50%;
  padding: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(162, 175, 200, 0.16);
  min-width: 200px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.blck-nft .box-text .users-imgs .simg1,
.blck-nft .box-text .users-imgs .simg2,
.blck-nft .box-text .users-imgs .simg3 {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.blck-nft .box-text .users-imgs .simg1 img,
.blck-nft .box-text .users-imgs .simg2 img,
.blck-nft .box-text .users-imgs .simg3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 50%;
}

.blck-nft .box-text .users-imgs .simg2 {
  margin-left: -20px;
}

.blck-nft .box-text .users-imgs .simg3 {
  margin-left: -20px;
}

/* ------------ proc-items ------------ */
.proc-items {
  position: relative;
}

.proc-items:after {
  content: '';
  position: absolute;
  top: -100px;
  left: -100px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #e012bf;
  opacity: .5;
  -webkit-filter: blur(200px);
  filter: blur(200px);
  pointer-events: none;
}

.proc-items .item .icon {
  font-size: 35px;
  margin-bottom: 30px;
  position: relative;
}

.proc-items .item .icon:after {
  content: '';
  position: absolute;
  top: 0px;
  right: -15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  z-index: -1;
}

.proc-items .item h6 {
  font-weight: 700;
  margin-bottom: 15px;
}

/* ------------ footer ------------ */
footer {
  overflow: hidden;
  position: relative;
  background-position: bottom;
  padding-top: 100px;
}

footer:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #05092b;
  opacity: .7;
}

footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 120px, rgba(255, 255, 255, 0) calc(100% - 120px), #05092b);
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 120px, rgba(255, 255, 255, 0) calc(100% - 120px), #05092b);
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 120px, rgba(255, 255, 255, 0) calc(100% - 120px), #05092b);
}

footer .container-xxl,
footer .container {
  position: relative;
  z-index: 2;
}

footer .cal-action .text h2 {
  font-size: 70px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 20px;
}

footer .cal-action .butn {
  border: 1px solid #fff;
}

footer .cal-action .butn .text {
  font-size: 14px;
  font-weight: 600;
}

footer .cal-action .users-imgs {
  margin-top: 30px;
}

footer .cal-action .users-imgs .simg1,
footer .cal-action .users-imgs .simg2,
footer .cal-action .users-imgs .simg3 {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

footer .cal-action .users-imgs .simg1 img,
footer .cal-action .users-imgs .simg2 img,
footer .cal-action .users-imgs .simg3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 50%;
}

footer .cal-action .users-imgs .simg2 {
  margin-left: -20px;
}

footer .cal-action .users-imgs .simg3 {
  margin-left: -20px;
}

footer .sub-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 100px;
}

/* ====================== [ Start Responsive ] ====================== */
@media screen and (max-width: 991px) {
  .bg-img {
    background-position: center !important;
  }
  .md-mb10 {
    margin-bottom: 10px;
  }
  .md-mb20 {
    margin-bottom: 20px;
  }
  .md-mb30 {
    margin-bottom: 30px;
  }
  .md-mb40 {
    margin-bottom: 40px;
  }
  .md-mb50 {
    margin-bottom: 50px !important;
  }
  .md-mb80 {
    margin-bottom: 80px;
  }
  .md-no-mrg {
    margin: 0 !important;
  }
  .md-pb10 {
    padding-bottom: 10px;
  }
  .md-pb20 {
    padding-bottom: 20px;
  }
  .md-pb30 {
    padding-bottom: 30px;
  }
  .md-pb40 {
    padding-bottom: 40px;
  }
  .md-pb50 {
    padding-bottom: 50px;
  }
  .md-pb60 {
    padding-bottom: 60px;
  }
  .md-pb70 {
    padding-bottom: 70px;
  }
  .md-pb80 {
    padding-bottom: 80px;
  }
  .md-pt80 {
    padding-top: 80px !important;
  }
  .md-no-pad {
    padding: 0 !important;
  }
  .md-center {
    text-align: center !important;
  }
  .order2 {
    -webkit-box-ordinal-group: 3 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
  }
  .order1 {
    -webkit-box-ordinal-group: 2 !important;
    -ms-flex-order: 1 !important;
    order: 1 !important;
  }
  .md-hide,
  .sticky-bar .left-bar .contact-butn,
  .sticky-bar .right-bar .social-text,
  header.rshp .front,
  .testim-box-shape .back-shape {
    display: none;
  }
  .fixed-search .search-area.search-on .search-form form input {
    width: 200px;
  }
  .fixed-search .search-area.search-on .search-icon {
    left: 200px;
  }
  .navbar {
    min-height: 60px;
  }
  .navbar .navbar-collapse {
    max-height: 340px;
    overflow: auto;
    background: #fff;
    text-align: center;
    padding: 10px 15px;
  }
  .navbar .nav-link {
    margin: 10px auto !important;
  }
  .navbar .search-area:before {
    display: none;
  }
  .navbar .search-area .search-icon {
    color: #18191d;
    display: none;
  }
  .navbar .search-area .search-form {
    position: relative;
    display: block;
  }
  .navbar .search-area .search-form .form-group {
    width: 100%;
  }
  .navbar .search-area .search-form .close-search {
    display: none;
  }
  .navbar .social {
    display: none;
  }
  .navbar .logo {
    margin-left: 15px;
    width: 50px;
  }
  .nav-scroll .navbar-collapse .nav-link,
  .light .navbar-collapse .nav-link {
    color: #18191d !important;
  }
  .navbar .search {
    border: 0;
    padding: 0;
    margin-top: 30px;
  }
  .navbar-nav .dropdown-menu {
    opacity: 1;
    visibility: visible;
    display: none;
    background: #f7f7f7;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
  }
  .navbar-nav .dropdown-menu .dropdown-item .dropdown-side {
    position: static;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: none;
    margin-top: 15px;
  }
  .navbar-nav .dropdown-menu .dropdown-item .dropdown-side.show {
    display: block;
  }
  .navbar .dropdown-menu .dropdown-item a .icon-arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .navbar-nav .dropdown-menu.show {
    display: block;
  }
  .navbar .navbar-nav .nav-link {
    padding: 0;
  }
  .navbar .mega-menu .dropdown-menu {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f7f7f7;
    padding: 30px;
  }
  .navbar.light .navbar-toggler .md-revers {
    color: #18191d;
  }
  body.cr-agency .states ul {
    display: block;
    width: 100%;
  }
  body.cr-agency .states ul li {
    width: 100%;
  }
  body.cr-agency .fz-45 {
    font-size: 30px !important;
  }
  body.index-arch {
    padding: 0;
  }
  body.index-arch .nav-scroll .icon-bar,
  body.index-arch .nav-scroll .social a,
  body.index-arch .nav-scroll .search-area .search-icon,
  body.index-arch .nav-scroll .navbar-toggler {
    color: #fff !important;
  }
  body.index-arch .section-padding {
    padding: 100px 0;
  }
  body.index-arch .sec-head .flex {
    display: block;
  }
  body.index-arch .sec-head .flex .s-title {
    margin-top: 20px;
  }
  body.index-arch .sec-head.mb-100 {
    margin-bottom: 80px !important;
  }
  body.index-arch .blog .cont .date {
    min-width: 70px;
  }
  body.index-arch footer .justify-content-end {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  body.index-arch footer .sub-f .copyrights {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    margin-top: 0;
  }
  body.index-freelancer .testim-modrn2 .author-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto 50px;
  }
  body.index-freelancer .testim-modrn2 .cont {
    padding-left: 0;
    text-align: center;
  }
  body.index-freelancer .testim-modrn2 .cont .info {
    display: block;
  }
  body.index-freelancer .testim-modrn2 .cont .info span {
    margin: 5px 0 0;
  }
  body.index-freelancer .testim-modrn2 .controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  body.index-freelancer .swiper-container-rtl .swiper-button-prev {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  body.index-freelancer .swiper-container-rtl .swiper-button-next {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  body.index-freelancer footer .sub-f .copyrights {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    margin-top: 0;
  }
  body.index-restaurant .menu-book .paltes .img.img3 {
    right: 30px;
  }
  body.index-restaurant .menu-book .paltes .img.img1 {
    bottom: -30px;
  }
  body.index-restaurant .sipm-gallery {
    padding-left: 0;
    padding-right: 0;
  }
  body.index-restaurant .call-action-app .container {
    padding: 80px 40px;
  }
  body.index-restaurant .call-action-app .container .img {
    position: relative;
    margin-top: 50px;
    top: auto;
  }
  body.index-restaurant footer .reservation {
    padding-bottom: 0 !important;
  }
  body.mobile-app .nav-scroll .icon-bar,
  body.mobile-app .nav-scroll .social a,
  body.mobile-app .nav-scroll .search-area .search-icon,
  body.mobile-app .nav-scroll .navbar-toggler {
    color: #fff !important;
  }
  body.mobile-app header .img {
    max-width: 300px;
    margin: 0 auto 50px;
  }
  body.mobile-app header .cont .stauts .item {
    width: 100%;
  }
  body.mobile-app .blck .img {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  body.mobile-app .round-head h6 {
    padding: 15px 30px;
  }
  body.mobile-app footer .copyrights {
    margin: 15px auto 0;
  }
  body.nft-market .nav-scroll .icon-bar,
  body.nft-market .nav-scroll .social a,
  body.nft-market .nav-scroll .search-area .search-icon,
  body.nft-market .nav-scroll .navbar-toggler {
    color: #fff !important;
  }
  body.nft-market .md-no-flex {
    display: block;
  }
  body.nft-market header .cont {
    padding: 80px 0;
  }
  body.nft-market .slide-vertical {
    height: 400px;
  }
  body.nft-market .blck-nft {
    margin-top: 0 !important;
  }
  body.nft-market .blck-nft .img1, body.nft-market .blck-nft .img2 {
    margin: auto;
  }
  body.nft-market .cal-action .justify-content-end {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .home-freelancer .justify-content-end {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .home-freelancer .img {
    margin: 50px auto 0;
  }
  .home-freelancer .img:after,
  .home-freelancer .social {
    display: none;
  }
  .hero-cir .th-cir {
    margin: 0 auto 50px;
  }
  .home-bus1 .caption h1 {
    font-size: 30px !important;
  }
  header.corporate h5 {
    font-size: 16px !important;
  }
  header .img.half-abs {
    display: none;
  }
  .arch-slider .parallax-slider .caption h1 {
    font-size: 40px;
  }
  .slider .parallax-slider .caption p {
    padding-left: 0;
    margin-left: auto;
  }
  .slider .parallax-slider .caption p:after {
    display: none;
  }
  .arch-slider .parallax-slider .explore a {
    width: 120px;
    height: 120px;
    line-height: 120px;
    letter-spacing: 2px;
  }
  .arch-slider .parallax-slider .explore {
    margin: 50px 0 0;
  }
  .clients-carsouel .item .cont-flex {
    display: none;
  }
  .round-head h2,
  .round-head h3,
  footer .cal h4 {
    font-size: 28px !important;
  }
  .simple-head h2 {
    font-size: 30px !important;
  }
  .services .item,
  .numbers .bloc,
  .blog-grid .item,
  .hero .main-text,
  .skills .content,
  .features-process .item,
  .blog .side-img,
  .footer-half .left-half,
  .intro-img-shape,
  .numbers .item,
  footer .clumn {
    margin-bottom: 50px;
  }
  .feat-exp .feat-item-img,
  .feat-exp .container-fluid,
  .portfolio .filtering {
    margin-top: 50px !important;
  }
  footer .copyrights {
    margin-top: 15px;
  }
  .services,
  .blog-grid,
  .features-process,
  .blog {
    padding-bottom: 70px;
  }
  .numbers .container {
    padding-bottom: 10px;
  }
  .feat-exp {
    padding-bottom: 0 !important;
  }
  .footer-half .left-half {
    padding-right: 0;
  }
  .footer-half {
    padding-bottom: 50px !important;
  }
  .process-img .out-box,
  .portfolio .filtering {
    margin-right: auto;
  }
  .portfolio .wild-padding {
    padding: 0 !important;
  }
  .hero .quote {
    margin-left: 0;
    margin-top: -50px;
  }
  .hero-cr .img-exp {
    padding-left: 0;
    display: block;
    margin-bottom: 80px;
    margin-top: 70px;
  }
  .hero-cr .img-exp .img {
    width: 100%;
    height: 300px;
    margin: auto;
  }
  .hero-cr .img-exp .rotate-exp {
    -webkit-transform: rotate(0) translateX(-50%) translateY(-100%);
    -ms-transform: rotate(0) translateX(-50%) translateY(-100%);
    transform: rotate(0) translateX(-50%) translateY(-100%);
    left: 50%;
    bottom: auto;
    top: -50px;
  }
  .numbers .container {
    padding-top: 0;
  }
  .testimonials.corp .box-testim {
    left: auto;
  }
  .testimonials .content {
    padding: 30px 50px 80px 50px;
  }
  .testimonials .swiper-img .item {
    height: auto;
  }
  .testimonials .controls {
    top: calc(100% - 50px);
  }
  .testim-box-shape:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #252739;
    opacity: 0.7;
  }
  .testim-box-shape .testim-crve {
    position: relative;
    z-index: 4;
  }
  .testim-box-shape .item {
    padding: 80px 50px;
  }
  .testim-box-shape .item .qoute-icon {
    color: #fff;
    background: none;
    -webkit-text-fill-color: inherit;
  }
  .testim-box-shape .item p {
    color: #d4d4d4;
  }
  .testim-box-shape .item .info {
    color: #fff;
  }
  .testim-box-shape .item .img {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .sec-half:after {
    width: 100%;
  }
  .round-head .flex,
  .blog-grid .valign {
    display: block !important;
  }
  .round-head h6,
  .blog-grid .s-title {
    padding: 0;
    margin-top: 15px;
  }
  .work-carsouel .work-crsol {
    -webkit-clip-path: none;
    clip-path: none;
  }
  .work-carsouel.crv .swiper-slide {
    width: 100% !important;
  }
  .simg-testim .img5,
  .simg-testim .img2,
  .hero-cr #circle,
  .footer-half:after {
    display: none;
  }
  .clasic-action h2 {
    font-size: 30px;
  }
  .clasic-action .justify-content-end {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    margin-top: 30px;
  }
  footer .call-action-banner {
    padding: 40px 30px;
  }
  footer .call-action-banner .call-button {
    display: block !important;
    margin-top: 30px;
  }
  footer .cal .justify-content-end,
  footer .copyrights {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .main-footer .container.pb-80 {
    padding-bottom: 30px !important;
  }
}

@media screen and (max-width: 767px) {
  .sm-mb10 {
    margin-bottom: 10px;
  }
  .sm-mb20 {
    margin-bottom: 20px;
  }
  .sm-mb30 {
    margin-bottom: 30px;
  }
  .sm-mb40 {
    margin-bottom: 40px;
  }
  .sm-mb50 {
    margin-bottom: 50px;
  }
  .sm-mb80 {
    margin-bottom: 80px;
  }
  .sm-pb10 {
    padding-bottom: 10px;
  }
  .sm-pb20 {
    padding-bottom: 20px;
  }
  .sm-pb30 {
    padding-bottom: 30px;
  }
  .sm-pb40 {
    padding-bottom: 40px;
  }
  .sm-pb50 {
    padding-bottom: 50px;
  }
  .sm-pb60 {
    padding-bottom: 60px;
  }
  .sm-pb70 {
    padding-bottom: 70px;
  }
  .sm-pb80 {
    padding-bottom: 80px;
  }
  .sm-hide {
    display: none;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  body.index-arch .testim-modrn2 .author-img {
    display: none;
  }
  body.index-arch .testim-modrn2 .cont {
    padding-left: 0;
  }
  body.index-arch footer .sub-f .copyrights {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    margin-top: 10px;
  }
  body.index-freelancer footer .sub-f .copyrights {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    margin-top: 10px;
  }
  body.mobile-app header .cont .stauts {
    display: block;
  }
  body.mobile-app header .cont .stauts .item {
    margin-top: 15px;
  }
  body.nft-market .tab-links .flex {
    display: block;
  }
  body.nft-market .tab-links .item-link {
    display: inline-block;
    margin-bottom: 10px;
  }
  body.nft-market .tab-links .item-link span {
    margin-right: 0 !important;
  }
  .progress-wrap {
    right: 15px;
    bottom: 15px;
  }
  .navbar .logo {
    width: 40px;
  }
  .fw-700 {
    font-weight: 600 !important;
  }
  .fz-45 {
    font-size: 30px !important;
  }
  header.corporate .cluom .info {
    padding: 20px;
  }
  .home-bus1 .caption {
    text-align: center;
  }
  .home-bus1 .play-button .vid {
    margin-top: 50px;
  }
  .pg-header-bus .caption h1,
  .pg-header-sipm .caption h1 {
    font-size: 35px !important;
  }
  .simple-head h4 {
    font-size: 30px;
  }
  .hero-cr .img-exp .img {
    height: 200px;
  }
  .hero-cr .img-exp .img:after {
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
  }
  .corporate .caption {
    margin-bottom: 250px;
  }
  .corporate .caption h1 {
    font-weight: 700 !important;
    font-size: 40px !important;
  }
  .feat-exp .lg-text {
    font-size: 80px;
  }
  .feat-exp .exp {
    margin-left: 0 !important;
  }
  .services .item-box {
    display: block;
    padding: 40px 20px;
  }
  .services .item-box .icon-bord-shad {
    margin-bottom: 30px;
  }
  .services .item-box .cont {
    margin-left: 0 !important;
  }
  .hero-cr .img-exp .rotate-exp h6 {
    white-space: nowrap;
  }
  h6.mb-20 {
    margin-bottom: 10px !important;
  }
  .portfolio .filtering .filter {
    padding: 5px;
  }
  .portfolio .filtering span {
    margin: 5px 10px;
  }
  .testimonials.corp .bg-img .play-button {
    bottom: 10px;
    right: auto;
    left: 10px;
  }
  .testim-simp-crus .item {
    padding: 0;
  }
  .testim-simp-crus .item h5 {
    font-size: 20px !important;
  }
  .simg-testim {
    display: none;
  }
  .testim-box-shape .item {
    padding: 60px 40px;
  }
  .line-head h6 {
    padding: 0 10px;
  }
  .contact-crv .box-shadow {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 480px) {
  .hero-cir .th-cir {
    width: auto;
    height: auto;
  }
  .hero-cir .th-cir:before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .hero-cir .th-cir .cir-1,
  .hero-cir .th-cir .cir-2,
  .hero-cir .th-cir .cir-3 {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 220px;
    height: 220px;
    margin: 30px auto;
  }
}

/* ====================== [ End Responsive ] ====================== */
