

/* ====================== [ Custom Mobile-app Styles  ] ====================== */

body.nft-market{
    background-color: #05092b;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../nft/img/dots.svg);
        background-repeat: repeat;
        background-size: 300px;
        opacity: .2;
        pointer-events: none;
        z-index: -1;
    }
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}

p{
    color: #c4c6c7;
    font-size: 16px;
    font-weight: 300 !important;
}

.sec-head-bord{
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    h4{
        font-weight: 700;

        .icon{
            font-size: 20px;
            margin-right: 10px;
        }
    }
}

.rad-head{
    display: inline-block;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(162, 175, 200, .16);

    i{
        margin-right: 10px;
    }
}

.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}

.sub-head{
    background: rgba(255,255,255,.02);
}

.sub-bg{
    background-color: rgba(255, 255, 255, 0.02);
}

.nav-scroll{
    background: rgba(5, 9, 43, 0.84);
    backdrop-filter: blur(5px);
    box-shadow: none;

    .navbar-nav .nav-link{
        color: #fff !important;
    }
}


/* ------------ header ------------ */

header{
    position: relative;
    padding-bottom: 0 !important;

    &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 300px;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        background: #7e2dec;
        opacity: .8;
        filter: blur(300px);
        pointer-events: none;
    }

    &:before{
        content: '';
        position: absolute;
        top: -100px;
        left: -100px;
        width: 300px;
        height: 300px;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        background: #e012bf;
        opacity: .8;
        filter: blur(200px);
        pointer-events: none;
    }

    .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: .2;
    }

    .cont{

        h1{
            font-weight: 800;
            line-height: 1.4;
        }

        .btn-vid {
            text-align: center;
            border-radius: 5px;
            border: 1px solid #fff;
            line-height: 50px;
            height: 50px;
            width: 50px;
            cursor: pointer;
            transition-timing-function: cubic-bezier(.4,.08,0,.97);
            color: #fff;
            display: inline-block;
            font-size: 14px;
            position: relative;
    
            &:after{
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 100%;
                height: 100%;
                border: 1px solid #fff;
                border-radius: 5px;
            }
        }
    }

    .main-marq{
        position: relative;
        padding: 0;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(to top, #05092b, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), #05092b);
            pointer-events: none;
        }
    }

    .star1{
        position: absolute;
        top: 25%;
        left: 15%;
        width: 30px;
    }

    .star2{
        position: absolute;
        top: 40%;
        right: 30px;
        width: 30px;
    }

    .star3{
        position: absolute;
        bottom: 15%;
        left: 40%;
        width: 30px;
    }

    .star4{
        position: absolute;
        top: 35%;
        left: 45%;
        width: 35px;
        height: 90px;
        border-radius: 30px;
        border: 1px solid #eee;
        opacity: .3;
    }
}


.slide-vertical {
    overflow: hidden;
    width: 30%;
    height: 600px;
    margin: 0 auto;
    position: relative;

    &.st2{
        width: 40%;

        .img {
            display: block;
            width: 100%;
            height: 400px;
            border-radius: 100px;
        }
    }

    &:hover .box {
        animation-play-state: paused !important;
    }

    .box {
        position: relative;
        animation: slide-vertical 50s linear infinite;
    }

    .img {
        display: block;
        width: 100%;
        height: 300px;
        margin: 15px 0;
        border-radius: 50px;
        overflow: hidden;
    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

@keyframes slide-vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
}


/* ------------ feat-card ------------ */

.feat-card{

    .item-card{
        border-radius: 15px;
        background: #272a37;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(162, 175, 200, .16);

        .img{
            padding: 10px 10px 0;
            height: 220px;
            position: relative;

            a{
                width: 100%;
                height: 100%;
            }

            img{
                border-radius: 15px 15px 0 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .fav{
                position: absolute;
                top: 20px;
                right: 20px;
                padding: 7px 10px 4px;
                border-radius: 5px;
                background: rgba(39, 42, 55, 0.84);
                font-size: 12px;

                .icon{
                    font-size: 16px;
                }

                .fcont{
                    line-height: 1;
                    position: relative;
                    top: -3px;
                    margin-left: 5px;
                }
            }

            .clockdiv{
                position: absolute;
                bottom: 10px;
                left: 20px;
                right: 20px;
                padding: 10px;
                background: rgba(0, 0, 0, 0.05);
                backdrop-filter: blur(10px);
                border: 1px solid rgba(162, 175, 200, .16);
                border-radius: 5px;
                display: flex;
                text-align: center;

                div{
                    margin: 0 10px;
                    width: 100%;
                    position: relative;

                    &:after{
                        content: ':';
                        position: absolute;
                        right: -10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:last-of-type{

                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }

        .cont{
            position: relative;

            .info{
                padding: 40px 20px 0;
            }

            .authors-img{
                display: flex;

                div{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    position: relative;

                    &:after{
                        content: '';
                        position: absolute;
                        top: -1px;
                        left: -1px;
                        right: -1px;
                        bottom: -1px;
                        border-radius: 50%;
                        border: 3px solid #3a3e5f;
                    }

                    &.img2{
                        left: -10px;
                    }

                    &.img3{
                        left: -20px;
                    }

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
            }

            .item-history{

                a{
                    text-decoration: underline;
                }
            }

            .eth{

                .icon{
                    width: 10px;
                    margin-right: 5px;
                }
            }
        }

        .botm{
            padding: 10px 20px;
            margin-top: 20px;
            text-align: center;
            background: rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(10px);
            border-top: 1px solid rgba(162, 175, 200, .16);

            .bid{

                a{
                    font-size: 13px;
                    padding: 7px 15px;
                    border: 1px solid rgba(255, 255, 255, .5);
                    border-radius: 4px;
                    transition: all .4s;

                    &:hover{
                        background: #fff;
                        color: #05092b;
                    }
                }
            }
        }
    }
}

/* ------------ collection ------------ */

.collection-box{

    .coll-item{
        padding: 15px 10px;
        border-radius: 15px;
        background: #272a37;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(162, 175, 200, .16);

        .imgs{

            .flex{

                .img{
                    height: 120px;
                    width: 50%;
                }
            }

            .img{
                height: 150px;
                margin: 0 5px;
                border-radius: 10px;
                overflow: hidden;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cont{

            .se-img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                position: relative;
                margin: -35px auto 0;

                &:after{
                    content: '';
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    right: -1px;
                    bottom: -1px;
                    border-radius: 50%;
                    border: 4px solid #3a3e5f;
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .icon{
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    border-radius: 50%;
                    background: #7e2dec;
                    font-size: 10px;
                    z-index: 2;
                }
            }

            .text{
                padding: 15px 20px;

                h6{
                    font-size: 17px;
                    font-weight: 700;
                }

                p{
                    font-size: 13px;

                    a{
                        color: #fff;
                        font-weight: 500;
                    }
                }

                .item-calc{

                    span{
                        padding: 7px 12px;
                        border-radius: 4px;
                        border: 1px solid rgba(255, 255, 255, 0.05);
                    }
                }
            }
        }
    }
}

/* ------------ explore ------------ */

.explore{
    position: relative;

    &:after{
        content: '';
        position: absolute;
        top: -100px;
        right: -100px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: #9121ce;
        opacity: .8;
        filter: blur(200px);
        pointer-events: none;
    }

    &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        background: #7e2dec;
        opacity: .5;
        filter: blur(200px);
        pointer-events: none;
    }

    .tab-links{

        .item-link{
            
            span{
                font-size: 14px;
                padding: 10px 20px;
                border: 1px solid rgba(255, 255, 255, 0.05);
                background: rgba(255, 255, 255, 0.02);
                border-radius: 30px;
                margin-right: 10px;
                transition: all .4s;
                backdrop-filter: blur(1px);
                cursor: pointer;

                i{
                    margin-right: 10px;
                }

                &:hover{
                    background: #fff;
                    color: #05092b;
                }
            }

            &.current{

                span{
                    background: #fff;
                    color: #05092b;
                }
            }
        }
    }

    .tab-content{
        display: none;
        
        &.current{
            display: block;
        }
    }
}

/* ------------ blck-nft ------------ */

.blck-nft{

    .imgs{
        position: relative;
        perspective: 2000;
    }

    .img1,
    .img2{
        width: 300px;
        height: 380px;
        position: relative;
        transform: rotateY(29deg) rotateZ(348deg);
        transform-style: preserve-3d;

        .bord{
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            z-index: -1;
            border-radius: 20px;
            background: linear-gradient(180deg, #3a82db, #9121ce, #e012bf, transparent, transparent);
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    .img2{
        width: 280px;
        height: 350px;
        transform: rotateX(28deg) rotateZ(10deg);
        
        .bord{
            background: linear-gradient(0deg, #3a82db, #9121ce, #e012bf, transparent, transparent);
        }
    }

    .box-text{
        position: absolute;
        bottom: -50px;
        left: 50%;
        padding: 30px;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(162, 175, 200, .16);
        min-width: 200px;
        transform: translateX(-50%);

        .users-imgs{

            .simg1,
            .simg2,
            .simg3{
                width: 30px;
                height: 30px;
                border: 2px solid #fff;
                border-radius: 50%;
                overflow: hidden;
                display: inline-block;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }
            }

            .simg2{
                margin-left: -20px;
            }

            .simg3{
                margin-left: -20px;
            }
        }
    }

}

/* ------------ proc-items ------------ */

.proc-items{
    position: relative;

    &:after{
        content: '';
        position: absolute;
        top: -100px;
        left: -100px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: #e012bf;
        opacity: .5;
        filter: blur(200px);
        pointer-events: none;
    }

    .item{

        .icon{
            font-size: 35px;
            margin-bottom: 30px;
            position: relative;

            &:after{
                content: '';
                position: absolute;
                top: 0px;
                right: -15px;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.05);
                z-index: -1;
            }
        }

        h6{
            font-weight: 700;
            margin-bottom: 15px;
        }

    }
}

/* ------------ footer ------------ */

footer{
    overflow: hidden;
    position: relative;
    background-position: bottom;
    padding-top: 100px;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #05092b;
        opacity: .7;
    }

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(255, 255, 255, 0) 120px, rgba(255, 255, 255, 0) calc(100% - 120px), #05092b);
    }

    .container-xxl,
    .container{
        position: relative;
        z-index: 2;
    }

    .cal-action{

        .text{

            h2{
                font-size: 70px;
                font-weight: 800;
                line-height: 1.4;
                margin-bottom: 20px;
            }
        }

        .butn{
            border: 1px solid #fff;

            .text{
                font-size: 14px;
                font-weight: 600;
            }
        }
        
        .users-imgs{
            margin-top: 30px;

            .simg1,
            .simg2,
            .simg3{
                width: 40px;
                height: 40px;
                border: 2px solid #fff;
                border-radius: 50%;
                overflow: hidden;
                display: inline-block;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }
            }

            .simg2{
                margin-left: -20px;
            }

            .simg3{
                margin-left: -20px;
            }
        }
    }

    .sub-footer{
        border-top: 1px solid rgba(255, 255, 255, .1);
        margin-top: 100px
    }
}




// responsive
@import "../../scss/variables";
@import "../../scss/responsive";